﻿@{
    ViewBag.Title = "Home Page";
}

<div class="page-header">
    <h1>The Happy Crow</h1>
    <img class="img-rounded img-responsive" src="~/Content/happycrow.jpg" title="NOT SO ANGRY"/>
    <h1><small>Or is he just slightly less angry?</small></h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Give a hug</h2>
        <p>
            I've seen a lot of crows in my time, and while most of them look perturbed, this fella is downright upset. Maybe he needs a little loving care.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Give him a hug &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Give a friend</h2>
        <p>Where are his friends? Maybe he needs a buddy to go grocery shopping with.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Give him a friend &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Give a snack</h2>
        <p>Crows get hungry, too. I haven't seen much roadkill lately.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Give him a snack &raquo;</a></p>
    </div>
</div>